body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: normal;
    font-style: normal;
}

a {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 9pt;
    font-weight: normal;
    font-style: normal;
    color: #555555;
}

H3 {
    font-size: 95%;
    color: #990000;
}

H4 {
    font-size: 100%;
    color: #000000;
}

li {
    list-style: none;
    padding: 0px;
    margin-left: 10px;
}

ul {
    margin-left: 0px;
}

td.section {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 11pt;
}

td {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.page {
    direction:rtl;
}

.breadCrumb {
    margin: 10px;
}

.content H3{
    font-size: 95%;
}

.middle {
    float: left;
    width: 60%;
    clear: both;
}

.serviceColumn {
    float: right;
    margin-top: 50px;
    margin-right: 10%;
}

.articlelist li {
    margin-bottom: 20px;
}

.topicFolder {
    border-bottom: solid 1px #9C9C9C;
    padding: 0px;
    margin: 0px;
}

.topicFolder H4 {
    padding: 0px;
    margin: 0px;
}

.folderTools {
    text-align: right;
}

.folderTools li{
    display: inline;
    margin: 0px;
}

.folderTools ul{
    margin: 0px;
}

.alert {
    color: blue;
    font-size: 80%;
    text-align: center;
    margin: 20px;
}

.trackAccess {
    font-size: 70%;
}

.trackCitation {
    font-size: 70%;
}

.box {
    border: solid 1px #CCCCCC;
    padding: 10px;
    width: 200px;
    margin-bottom: 10px;
}

.box li {
    margin-bottom: 5px;
}

.lightingStars {

}