html, body, .container, .main_container { height: 100%; }

body {
    background: #fff !important;
}

body.main_page {
    background: #FFFFFF;
    color: #333333;
}

body.main_page .btn {
    border-radius: 6px;
}

body.main_page.modal-open h4 {
    font-size: 16px;
    font-weight: 500;
}

body.main_page .container {
    padding-right: 15px;
    padding-left: 15px;
}

body .container.body .right_col {
    background: #fff !important;
}

.left_col {
    background: #5a78a2 !important;
}

.nav.side-menu > li.active > a {
    background: #1ABB9C !important;
}

.x_panel {
    background: #f4f7fd !important;
}

.nav-md, .nav-sm {
    background: #5a78a2 !important;
}

.main_page {
    background: #fff !important;
}

.nav_title {
    width: 230px;
    float: left;
    background: #5d7ba5 !important;
    border-radius: 0;
    height: 130px !important;
}

.nav_menu {
    background: #e9f5f9 !important;  
}

.nav li.current-page {
    background: #8cb2d9 !important;
}

.site_title {
    height: 140px !important;
}

.tile_count .tile_stats_count .count a {
    color: #1ABB9C !important;
}

.profile_info {
    padding: 25px -1px !important;
}

.nav_title span {
    display:none;
}

.middle {
    float: left;
    width: 60%; 
    clear: both;
}

.middle H3 {
    margin-bottom: 0;
}

.serviceColumn {
    float: right;
    margin-top: 50px;
    margin-right: 10%;
}

.serviceColumn li a img {
    vertical-align: sub;
}

.serviceColumn #rssFeeds li:first-child a img {
    margin-right: 2px;
}

.serviceColumn H3, .middle H3 {
    font-size: 110%;
    color: #036;
}

.serviceColumn ul, .middle ul {
    margin-left: 0px;
	padding: 0px;
}

.serviceColumn li, .middle li {
    list-style: none;
    padding: 0px;
    margin: 5px 0px 0px 10px;
}

.serviceColumn .box {
    border: solid 1px #CCCCCC;
    padding: 10px;
    width: 200px;
    margin-bottom: 10px;
    height: 100%;
    background-color: #F7F7F7;
}

.serviceColumn .box li {
    margin-bottom: 5px;
}

.articlelist li {
    margin-bottom: 20px;
}

.articleBlock .services .view img {
    display: inline;
    vertical-align: baseline;
}

.topicFolder {
    border-bottom: solid 1px #9C9C9C;
    padding: 0px;
    margin: 0px;
}

.topicFolder H4 {
    padding: 0px;
    margin: 0px;
}

.folderTools {
    text-align: right;
}

.folderTools li {
    display: inline;
    margin: 0px;
}

.folderTools ul {
    margin: 0px;
}

.folderTools li a img {
    margin-right: 2px;
    margin-left: 10px;
}

.alert {
    color: blue;
    text-align: center;
    margin: 20px;
}

.trackAccess {
    font-size: 70%;
}

.trackCitation {
    font-size: 70%;
}

.tools {
    margin-left: 20px;
}

.tools .item {
    display: inline;
}

.tools .item A {
    font-size: 12px;
    color: #2B3073;
}

.toolsright {
    margin-top: 20px;
    text-align: left;
}

.toolsright .item {
    display: inline;
}

.toolsright .item A {
    font-size: 12px;
    color: #2B3073;
}

.paginatorSelected {
    margin-left: 2px;
}

.search_bar {
    padding-top: 12px;
}

.toggle {
    position: absolute;
    /*z-index: 1;*/
}

a.operator {
    cursor: pointer;
}

.popover {
    white-space: nowrap;
}

.starOn {
    padding-bottom: 3px;
}

.tile_count .tile_stats_count {
    text-overflow: clip !important;
}

.x_title h2 {
    margin: 15px 0px 0px 55px !important;
	color: #3c5c88 !important;
}

.x_title h2 small {
    display: block;
    margin-left: 0 !important;
}

.table-list td {
    vertical-align: middle !important;
}

.none-docs {
    text-align: center;
    margin: 100px 0;
}

.list-docs-unstyled {
    padding-left: 15px;
    list-style: none;
}

.folder-data {
    margin-bottom: 10px;
}

.folder-data h4 {
    margin-right: 10px;
}

.folder-data a {
    margin-right: 2px;
}

.keywords {
    margin-bottom: 15px;
    margin-top: -15px;
}

.site_title {
    text-align: center;
    padding: 0 !important;
}

.help {
    margin-bottom: 20px;
}

.profile_menu {
    white-space: nowrap;
    width: auto !important;
}

.profile_info h2 {
    overflow: hidden;
    text-overflow: ellipsis;
}

.language_switcher i {
    margin-right: 5px;
}

.language_switcher ul {
    width: 100% !important;
    min-width: 125px;
}

ul.project_files.documents li,
ul.project_files.profiles li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.servplat-widget td.query {
    font-size: 13px;
    font-weight: 400;
}

div.terms {
    height:600px;
    border:1px solid #ccc;
    background:#f2f2f2;
    padding:6px;
    overflow:auto;
}

div.terms p,
div.terms li {font:normal 11px/15px arial;color:#333;}
div.terms h3 {font:bold 14px/19px arial;color:#000;}
div.terms h4 {font:bold 12px/17px arial;color:#000;}
div.terms strong {color:#000;}

img.star {
    height: 12px;
    width: 12px;
}

span.terms-agreement,
span.accept-mail {
    position: absolute;
    padding-left: 5px;
}

div.related_docs .related-list,
div.related_docs .related-alert {
    display: none;
}

div.related_docs p {
    margin-top: 10px;
    font-weight: bold;
}

#loading, .related-loading {
    background: url(../../images/default/loading.gif) no-repeat center center;
    height: 60px;
    text-align: center;
    margin-top: 25px;
    display: none;
}

#sidebar-menu .introjs-showElement ul li a {
    color: #000;
}

#sidebar-menu ul.child_menu li.introjs-showElement a {
    color: #000;
}

#sidebar-menu ul.introjs-showElement li a {
    color: #000;
}

#sidebar-menu ul.side-menu li.introjs-showElement a {
    color: #000;
}

.introjs-showElement .profile_info * {
    color: #000;
}

.vhl-search .x_content {
    padding: 0 0 6px;
}

.tile_count {
    margin-top: 50px !important;
}

.top_menu {
    display: flex;
    float: right;
}

.nav-sm .logo-md {
    display:none !important;
}

.nav-sm .logo-sm {
    display:block !important;
}

.nav-sm .navbar.nav_title {
    margin-top: 10px;
}

.nav-sm ul.side-menu li {
    display: block !important;
}

.nav-sm ul.side-menu li:first-child {
    display: none !important;
}

#menu_toggle .fa-chevron-circle-left,
#menu_toggle .fa-chevron-circle-right {
    display: none;
}

#datatable-search {
    table-layout: fixed;
    width: 100% !important;
}

#datatable-search th.query {
    width: auto !important;
}

#datatable-search td.query {
    word-wrap: break-word;
}

.vhl-search .servplat-widget td.query span.show-all,
#datatable-search td.query span.show-all,
#datatable-search td.filter span.show-all {
    line-height: 1.42857143;
    color: #000fff;
    font-size: 85%;
    cursor: pointer;
}

.vhl-search .servplat-widget td.query span.short-query,
#datatable-search td.query span.short-query,
#datatable-search td.filter span.short-query {
    line-height: 1.42857143;
    display: none;
}

#datatable-search.collapsed > tbody > tr > td:first-child:before,
#datatable-search.collapsed > tbody > tr > th:first-child:before {
    top: auto;
}

#datatable-search.collapsed > tbody > tr.child span.dtr-title {
    display: block;
}

#datatable-search.collapsed > tbody > tr.child ul {
    width: 100%;
}

#datatable-search_wrapper div.row div.col-sm-12 {
    width: 100%;
}

.datatable-search-pagination .dataTables_paginate {
    margin: 0;
}

.fav-docs .x_title {
    background: url(../../images/default/document.png) left no-repeat; height: 54px;
}

.themes .x_title {
	background: url(../../images/default/020-folder.png) left no-repeat; height: 54px;
}

.orcid .x_title{
    background: url(../../images/default/orcid.png) left no-repeat; height: 54px;
}

.fav-links .x_title {
    background: url(../../images/default/012-bookmark.png) left no-repeat; height: 54px;
}

.tasks .x_title {
    background: url(../../images/default/023-tasks.png) left no-repeat; height: 54px;
}

.vhl-search .x_title {
    background: url(../../images/default/005-search.png) left no-repeat; height: 54px;
}

.label-danger {
    background: url(../../images/default/remove.png) left no-repeat;
    height: 16px;
    background-color: transparent !important;
}

.label-info {
    background: url(../../images/default/edit.png) left no-repeat;
    height: 16px;
    background-color: transparent !important;
}

.label-success {
    background: url(../../images/default/see.png) left no-repeat;
    height: 16px;
    background-color: transparent !important;
}

.add-collection {
    background: url(../../images/default/star.png) left no-repeat;
    height: 16px;
    background-color: transparent !important;
}

.related-docs,
.public-related-docs {
    background: url(../../images/default/similar.png) left no-repeat;
    height: 16px;
}

.move {
    background: url(../../images/default/move.png) left no-repeat;
    height: 16px;
}

.record {
    margin-bottom: 10px !important;
}

.label-primary {
    background-color: transparent !important;
}

.fav-docs .x_content .title {
    font-weight: normal !important;
}

.label {
    padding-left: 18px !important;
    color: #666 !important;
}

.timeline .block {
    padding: 1px 15px !important;
}

.timeline .block .block_content {
    padding-top: 10px;
}
	
ul.messages li, .tasks li {
    padding: 0px !important;
}

.doc-actions a:hover {
    text-decoration: underline !important;
    color: #7397ba !important;
}

.x_title h2 small.example {
    display: inline;
    margin-left: 10px !important;
}

.edit-profile .x_title h2 {
    margin: 5px 0px 6px !important;
}

.submitFalse {
    background: rgba(169, 68, 66, 0.78) !important; color: #fff;
}

.submitTrue {
    background: rgba(0, 163, 54, 0.64)!important; color: #fff;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f4f7fd !important;
}

.byline {
    color: #636363 !important; 
}

.body_pt footer {
	 background: #FFF url(../../images/default/bireme_azul_pt_horizontal_full.png) top no-repeat !important;             
}

.body_es footer {
	 background: #FFF url(../../images/default/bireme_azul_es_horizontal_full.png) top no-repeat !important;             
}

.body_en footer {
	 background: #FFF url(../../images/default/bireme_azul_en_horizontal_full.png) top no-repeat !important;             
}

.nav-md footer p {
	text-align: center;     
	margin-top: 83px;
}

.nav-sm footer p {
	text-align: center;     
	margin-top: 83px;
}

a.no-url {
    color: #73879C;
}

a.no-url:hover {
    cursor: text;
}

small.update-alert {
    display: inline-block;
    margin-left: 20px;
}

small.update-alert p {
    margin: 0
}

.public-link span {
    padding-left: 0 !important;
}

.public-link span i {
    padding-right: 3px;
}

.bs-public-modal-lg .addthis_toolbox {
    margin-top: 10px;
}

body.at-expanded-menu-noscroll .bs-public-modal-lg {
    display: none !important;
}

#sidebar-menu.public_menu {
    color: #E7E7E7;
    position: relative;
    display: block;
    padding: 13px 15px 12px;
}

#sidebar-menu.public_menu ul li {
    cursor: text;
}

.remove-account {
    cursor: pointer;
    text-decoration: underline !important;
    display: block;
    text-align: right;
}

@media only screen
and (max-device-width : 412px) {
    .introjs-tooltip .introjs-tooltipbuttons {
        padding-right: 1em;
    }
}

@media only screen 
and (max-device-width : 414px) {
    .folder-data {
        margin-bottom: 20px;
        text-align: center;
    }

    .folder-data h4 {
        text-align: left;
    }

    .folder-data a {
        display: inline-block;
        margin-bottom: 10px;
    }

    .nav-md .doc-actions {
        display: flex;
    }

    .nav-sm .doc-actions {
        display: flex;
        flex-direction: column;
    }

    .doc-actions a.label {
        margin: 2px 0;
        padding: 5px;
    }

    .nav-sm .doc-actions a.label {
        text-align: left;
    }

    .related_docs ol {
        padding-left: 12px;
    }

    .x_title h2 {
        white-space: normal !important;
    }

    #datatable-search.collapsed > tbody > tr.child span.dtr-data {
        display: flex;
        flex-direction: column;
        word-wrap: break-word;
    }

    .introjs-tooltip .introjs-tooltipbuttons {
        padding-right: 1.5em;
    }

    select.bulkactions {
        display: block;
        margin: 10px auto 0;
    }
}

@media only screen 
and (min-device-width : 768px) {
    .nav-md footer {
        margin-left: 0 !important;
    }

    .nav.toggle {
        position: relative;
    }

    select.bulkactions {
        float: right;
    }

    .themes .folder-data {
        display: flex;
        align-items: center;
    }
}

@media only screen
and (max-device-width : 768px) {
    .introjs-tooltip {
        margin-left: 0 !important;
        min-height: 8em;
    }

    .introjs-tooltip .introjs-tooltipbuttons {
        display: flex;
        flex-direction: column-reverse;
    }

    .introjs-tooltip .introjs-skipbutton {
        margin-right: 0;
    }

    .introjs-tooltip .introjs-skipbutton span {
        display: block;
        text-align: center;
    }

	.body_pt footer {
	 background: #FFF url(../../images/default/bireme_azul_pt_horizontal.jpg) top no-repeat !important;             
	}

	.body_es footer {
		 background: #FFF url(../../images/default/bireme_azul_es_horizontal.jpg) top no-repeat !important;             
	}

	.body_en footer {
		 background: #FFF url(../../images/default/bireme_azul_en_horizontal.jpg ) top no-repeat !important;             
	}

    .nav-sm footer p {
        margin-top: 45px;
    }

	.nav-md footer p {
        margin-top: 45px;
    }
}

@media only screen 
and (max-device-width : 1024px) {
    .themes .x_title {
        display: inline-table;
        background: url(../../images/default/020-folder.png) top left no-repeat;
    }

    .themes .x_title small.update-alert {
        margin-top: 5px;
        margin-left: 55px;
    }
}

@media only screen 
and (min-device-width : 1024px) {
    .nav-md footer {
        margin-left: 230px !important;
    }

    #menu_toggle .fa-bars {
        display: none;
    }

    .nav-md #menu_toggle .fa-chevron-circle-left {
        display: inline-block;
    }

    .nav-sm #menu_toggle .fa-chevron-circle-right {
        display: inline;
    }
}

@media only screen 
and (max-device-width : 320px) {
    .nav-sm .nav.toggle {
        display: none;
    }

    .nav-sm .collapse-menu {
        display: inline-block !important;
        color: #fff;
        font-size: 10px;
        text-align: center;
        padding: 10px 5px;
    }

    .nav-sm .collapse-menu i {
        font-size: 25px;
        display: block;
    }

    .introjs-tooltip .introjs-tooltipbuttons {
        padding-right: 4.5em;
    }

	.mobile .introjs-button {
        text-shadow: none !important;
        box-shadow: none !important;
    }

    .folder-data h4 {
        margin-bottom: 20px;
    }
}

@media only screen 
and (max-device-width : 736px) {
    .nav_menu {
        margin-bottom: 60px !important;
    }

    .nav_menu nav {
        display: block !important;
    }

    .nav_menu nav form {
        position: absolute;
        margin-top: 70px;
    }

	.mobile .introjs-button {
        text-shadow: none !important;
        box-shadow:none !important;
    }

    .search_bar{
        display: flex;
        justify-content: center;
    }

    .nav-sm .tile_count .tile_stats_count {
        text-overflow: ellipsis !important;
    }

    .item.bad .alert {
        margin: 20px;
    }

    .nav-sm .x_title {
        display: flex;
    }

    .nav-sm .x_title h2 {
        float: none;
        width: auto !important;
        white-space: nowrap !important;
    }

    .nav-sm .themes .x_title {
        display: block;
        height: auto;
    }

    .nav-sm .nav_menu nav form {
        width: auto !important;
    }

    .dataTables_paginate {
        float: none !important;
        text-align: center !important;
        margin-bottom: 20px;
    }
}

@media only screen
and (max-device-width : 360px) {
    .introjs-tooltip .introjs-tooltipbuttons {
        padding-right: 1.5em;
    }

    .nav-sm footer {
        background-size: contain !important;
    }
}