.middle {
    float: left;
    width: 60%;
    clear: both;
}

.middle H3 {
    margin-bottom: 0;
}

.serviceColumn {
    float: right;
    margin-top: 50px;
    margin-right: 10%;
}

.serviceColumn li a img {
    vertical-align: sub;
}

.serviceColumn #rssFeeds li:first-child a img {
    margin-right: 2px;
}

.serviceColumn H3, .middle H3 {
    font-size: 110%;
    color: #036;
}

.serviceColumn ul, .middle ul {
    margin-left: 0px;
	padding: 0px;
}

.serviceColumn li, .middle li {
    list-style: none;
    padding: 0px;
    margin: 5px 0px 0px 10px;
}

.serviceColumn .box {
    border: solid 1px #CCCCCC;
    padding: 10px;
    width: 200px;
    margin-bottom: 10px;
    height: 100%;
    background-color: #F7F7F7;
}

.serviceColumn .box li {
    margin-bottom: 5px;
}

.articlelist li {
    margin-bottom: 20px;
}

.articleBlock .services .view img {
    display: inline;
    vertical-align: baseline;
}

.topicFolder {
    border-bottom: solid 1px #9C9C9C;
    padding: 0px;
    margin: 0px;
}

.topicFolder H4 {
    padding: 0px;
    margin: 0px;
}

.folderTools {
    text-align: right;
}

.folderTools li{
    display: inline;
    margin: 0px;
}

.folderTools ul{
    margin: 0px;
}

.folderTools li a img {
    margin-right: 2px;
    margin-left: 10px;
}

.alert {
    color: blue;
    text-align: center;
    margin: 20px;
}

.trackAccess {
    font-size: 70%;
}

.trackCitation {
    font-size: 70%;
}

.tools {
    margin-left: 20px;
}

.tools .item {
    display: inline;
}

.tools .item A {
    font-size: 12px;
    color: #2B3073;
}

.toolsright {
    margin-top: 20px;
    text-align: left;
}

.toolsright .item {
    display: inline;
}

.toolsright .item A {
    font-size: 12px;
    color: #2B3073;
}

.paginatorSelected {
    margin-left: 2px;
}

.search_bar {
    padding-top: 12px;
}

.toggle {
    position: absolute;
    z-index: 1;
}

a.operator {
    cursor: pointer;
}

.popover {
    white-space: nowrap;
}

.starOn {
    padding-bottom: 3px;
}

.tile_count .tile_stats_count {
    text-overflow: clip !important;
    /*overflow: visible !important;*/
}

.x_title h2 small {
    display: block;
    margin-left: 0 !important;
}

.table-list td {
    vertical-align: middle !important;
}

.none-docs {
    text-align: center;
    margin: 100px 0;
}

.list-docs-unstyled {
    padding-left: 15px;
    list-style: none;
}

.folder-data {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.folder-data h4 {
    margin-right: 10px;
}

.folder-data a {
    margin-right: 2px;
}

.keywords {
    margin-bottom: 15px;
    margin-top: -15px;
}

.site_title {
    text-align: center;
    padding: 0 !important;
}

.help {
    margin-bottom: 20px;
}

.panel-folder {
    /*border-bottom: 1px solid #ddd;*/
}

.profile_menu {
    white-space: nowrap;
    width: auto !important;
}

.profile_info h2 {
    overflow: hidden;
    text-overflow: ellipsis;
}

.language_switcher i {
    margin-right: 5px;
}

.language_switcher ul {
    width: 100% !important;
    min-width: 125px;
}

ul.project_files.profiles li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.servplat-widget td.query {
    font-size: 13px;
    font-weight: 400;
}

div.terms {
    height:600px;
    border:1px solid #ccc;
    background:#f2f2f2;
    padding:6px;
    overflow:auto;
}

div.terms p,
div.terms li {font:normal 11px/15px arial;color:#333;}
div.terms h3 {font:bold 14px/19px arial;color:#000;}
div.terms h4 {font:bold 12px/17px arial;color:#000;}
div.terms strong {color:#000;}

img.star {
    height: 12px;
    width: 12px;
}

#loading {
    background:url(../../images/default/loading.gif) no-repeat center center;
    height: 60px;
    text-align: center;
    margin-top: 25px;
    display: none;
}
/*
#loading {
    background:url(../../images/default/loading.gif) no-repeat center center;
    height: 100px;
    width: 100px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -25px 0 0 -25px;
    z-index: 1000;
    text-align: center;
    display: none;
}
*/