/*
    Note: It is best to use a less version of this file ( see http://css2less.cc
    For the media queries use @screen-sm-min instead of 768px.
    For .omb_spanOr use @body-bg instead of white.
*/




.main_page .omb_login { 
    margin: 0px auto;
    background: #fff  url(../../images/default/banner_top.png) top no-repeat;
	box-shadow: 0px 0px 6px 6px #E6E6E6;
}

.omb_login .omb_authTitle {
    text-align: left;
    line-height: 300%;
    font-size: 25px;
    font-size: 25px;
    font-family: Verdana, Geneva, sans-serif;
    color: #fff;
}

.omb_login .omb_authTitle span{
	display:none !important;
}

.omb_login .omb_authTitle .logo-bireme {
    float: right;
    margin-top: 30px;
}

.omb_description .col-xs-12 {
    background: #fff;
}

.omb_login .omb_authTitle h1 {
    padding-left: 20px;
}

.omb_login .omb_authTitle img.logo {
    float: left;
    margin-right: 10px;
}

.omb_description{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: #1f76a9;
}

.omb_login .omb_description {
    margin-bottom: 2em;
    text-align: justify;
	margin-top: 33px;
	margin-left: 0px;
    margin-right: 0px;
	margin-left: 0px;
	background: #e9f5f9;
}


.omb_description p {
	padding-top:10px;
}
/*
.omb_login .omb_socialButtons {
    display: flex;
    justify-content: center;
}
*/
.omb_login .omb_socialButtons a {
    color: white;
    opacity:0.9;
}

.omb_login .omb_socialButtons a:hover {
    color: white;
    opacity:1;      
}

.omb_login .omb_socialButtons .omb_btn-facebook {
    background: #3b5998;
}

.omb_login .omb_socialButtons .omb_btn-linkedin {
    background: #00aced;
}

.omb_login .omb_socialButtons .omb_btn-google {
    background: #c32f10;
}

.omb_login .omb_loginOr {
    position: relative;
    font-size: 1.5em;
    color: #aaa;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.omb_login .omb_loginOr .omb_hrOr {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.omb_login .omb_loginOr .omb_spanOr {
    display: block;
    position: absolute;
    left: 50%;
    top: -0.6em;
    margin-left: -1.5em;
    background-color: #ebebec;
    width: 3em;
    text-align: center;
}           
 
 
.omb_login .trangolango .omb_description{ background: #e9f5f9 !important ; margin-right: 10px !important;} 
 
 
.omb_login .omb_loginForm {
    margin-bottom: 10px;
}

.omb_login .omb_loginForm .input-group.i {
    width: 2em;
}

.omb_login .omb_loginForm  .help-block {
    color: red;
    text-align: center;
}

.omb_forgotPwd a, .omb_registry a {
    border: 0;
}

.omb_login .omb_spacer hr {
    background-color: #cdcdcd;
    height: 1px;
    margin-bottom: 0;
}

.omb_login a.decor {
    text-decoration: underline;
}

.omb_login .omb_recover div.recover {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.form-group.omb_login .omb_loginOr {
    font-size: 14px;
    color: #73879C;
    margin-top: 0;
    margin-bottom: 0;
}

.form-group.omb_login .omb_loginOr .omb_spanOr {
    display: block;
    position: absolute;
    left: 50%;
    top: 1.2em;
    margin-left: -4em;
    background-color: #F7F7F7;
    width: 8em;
    text-align: center;
}

.form-group.omb_login .btn {
    border-radius: 6px;
}

@media (min-width: 1200px) {
    body.main_page .container {
        width: 1162px;
    }

    body.main_page .container.body {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }

    .omb_login .omb_forgotPwd,
    .omb_login .omb_registry {
        text-align: left;
        margin-top: 10px;
    }
}

@media (max-width : 736px) {
    body.main_page .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    body.main_page.modal-open .modal {
        display: table;
        padding-top: 20px;
    }

    body.main_page .omb_row-sm-offset-3 div[class*="col-"] {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
    .omb_login h1.omb_authTitle {
        font-size: 28px;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    .omb_row-sm-offset-3.omb_recover div:first-child[class*="col-"] {
        margin-left: 15%;
    }

    .omb_row-sm-offset-3.omb_recover div.col-sm-3 {
        width: 35%;
    }
}