/*
    Note: It is best to use a less version of this file ( see http://css2less.cc
    For the media queries use @screen-sm-min instead of 768px.
    For .omb_spanOr use @body-bg instead of white.
*/

.main_page .omb_login { 
    margin: 0px auto;
    background: #fff  url(../../images/default/banner_top.png) top no-repeat;
    box-shadow: 0px 0px 6px 6px #E6E6E6;
}

.languages {
    text-align: right;
    z-index: 1;
    position: relative;
}

.languages a {
    color: #fff !important;
}

.login-area {
    display: flex;
}

.login-area .login-box .btn {
    font-size: 14px;
}

.login-area .omb_description, .login-area .login-box {
    width: 50%;
    margin-top: 3em !important;
    margin-bottom: 3em;
}

.login-area .omb_description .col-xs-12 {
    padding: 2em 4em;
    border: 1px solid #ccc;
    font-size: 14px;
    line-height: 22px;
}

.omb_login .login-area .omb_description {
    background: #ebebec;
    padding: 1em;
}

.omb_login .omb_authTitle {
    text-align: left;
    line-height: 300%;
    font-size: 25px;
    font-family: Verdana, Geneva, sans-serif;
    color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: -10px;
}

.omb_login .omb_authTitle span {
    display: none !important;
}

.omb_login .omb_authTitle .logo-bireme {
    float: right;
    margin-top: 30px;
    margin-left: 3%;
}

.omb_description .col-xs-12 {
    background: #fdfbfb;
}

.omb_login .omb_authTitle h1 {
    padding-left: 20px;
}

.omb_login .omb_authTitle img.logo,
.omb_login .omb_authTitle img.logo-app {
    float: left;
}

.omb_description {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: #1f76a9;
}

.omb_login .omb_description {
    margin-bottom: 2em;
    text-align: justify;
    margin-top: 33px;
    margin-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.omb_login .login-area .omb_description {
    background: none !important;
    padding: 0px !important; 
    margin-right: 18px;
}

.omb_description p {
    padding-top: 10px;
}

.omb_login .omb_socialButtons a {
    color: white;
    opacity:0.9;
}

.omb_login .omb_socialButtons a:hover {
    color: white;
    opacity:1;      
}

.omb_login .omb_socialButtons .omb_btn-facebook {
    background: #3b5998;
}

.omb_login .omb_socialButtons .omb_btn-linkedin {
    background: #00aced;
}

.omb_login .omb_socialButtons .omb_btn-google {
    background: #c32f10;
}

.omb_login .omb_loginOr {
    position: relative;
    font-size: 1.5em;
    color: #aaa;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.omb_login .omb_loginOr .omb_hrOr {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.omb_login .omb_loginOr .omb_spanOr {
    display: block;
    position: absolute;
    left: 50%;
    top: -0.6em;
    margin-left: -1.5em;
    background-color: #fff;
    width: 3em;
    text-align: center;
}            

.omb_login .omb_loginForm {
    margin-bottom: 10px;
}

.omb_login .omb_loginForm .input-group.i {
    width: 2em;
}

.omb_login .omb_loginForm  .help-block {
    color: red;
    text-align: center;
}

.omb_forgotPwd a, .omb_registry a {
    border: 0;
}

.omb_login .omb_spacer hr {
    background-color: #cdcdcd;
    height: 1px;
    margin-bottom: 0;
}

.omb_login a.decor {
    text-decoration: underline;
}

.omb_login .omb_recover div.recover {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #c0dbef
}

.form-group.omb_login .omb_loginOr {
    font-size: 14px;
    color: #73879C;
    margin-top: 0;
    margin-bottom: 0;
}

.form-group.omb_login .omb_loginOr .omb_spanOr {
    display: block;
    position: absolute;
    left: 50%;
    top: 1.2em;
    margin-left: -4em;
    background-color: #F7F7F7;
    width: 8em;
    text-align: center;
}

.form-group.omb_login .btn {
    border-radius: 6px;
}

.omb_spanLogin {
    margin-left: -6.5em !important;
    width: 13em !important;
}

.omb_spanLoginWith {
    margin-left: -3em !important;
    width: 6em !important;
}

.login-box .row {
    padding: 4px 30px;
}

.login-box .row:first-child {
    padding-bottom: 10px;
}

.login-box .row:last-child .omb_registry {
    text-align: center;
}

.login-box .btn-login {
    padding: 10px 0;
}

.omb_login .omb_authTitle .logo-app,
.omb_login .omb_authTitle .logo-bireme-vert {
    display: none;
}

.youtube-logo,
.apple-logo,
.google-logo {
    width: 20%;
}

.app-store-icons {
    text-align: center;
}

.public_search_bar {
    width: 100%;
    margin-bottom: -35px;
    display: none;
}

@media (min-width: 1200px) {
    body.main_page .container {
        width: 1162px;
    }

    body.main_page .container.body {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }

    .omb_login .omb_forgotPwd,
    .omb_login .omb_registry {
        text-align: left;
        margin-top: 10px;
    }
}

@media (max-width : 736px) {
    body.main_page .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    body.main_page .omb_row-sm-offset-3 div[class*="col-"] {
        padding-left: 30px;
        padding-right: 30px;
    }

    .omb_login .row {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}

@media only screen 
and (max-device-width : 320px) {
    .omb_login .omb_authTitle img.logo,
    .omb_login .omb_authTitle img.logo-app {
        margin-top: 10px;
        position: absolute !important;
    }

    .omb_login .omb_authTitle img.logo {
        left: 35px !important;
    }

    .omb_login .omb_authTitle img.logo-app {
        left: 20px !important;
    }

    .omb_login .omb_authTitle img.logo-bireme-vert {
        position: absolute;
        right: 0;
    }

    .omb_login h1.omb_authTitle {
        background-position: 110px !important;
    }

    .omb_login .login-area .omb_description ul {
        padding-left: 1.5em;
    }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 736px) {
    .omb_login h1.omb_authTitle {
        font-size: 28px;
    }

    .login-area {
        display: block;
    }

    .omb_login .omb_authTitle img.logo,
    .omb_login .omb_authTitle img.logo-app {
        position: relative;
        left: 30px;
    }

    .omb_login .omb_authTitle .logo-bireme {
        display: none;
    }
    
    .omb_login h1.omb_authTitle {
        height: 180px;
        margin-top: -15px;
    }

    .omb_login .omb_authTitle .logo-bireme-vert {
        display: block;
    }

    .login-area .login-box,
    .login-area .omb_description {
        width: auto !important;
        margin-left: 10px;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    .omb_row-sm-offset-3.omb_recover div:first-child[class*="col-"] {
        margin-left: 15%;
    }

    .omb_row-sm-offset-3.omb_recover div.col-sm-3 {
        width: 35%;
    }

    .login-area {
        display: block;
    }

    .omb_login .omb_authTitle img.logo,
    .omb_login .omb_authTitle img.logo-app {
        margin-left: 40px;
    }

    .omb_login .omb_authTitle .logo-bireme {
        max-width: 508px;
        margin-right: 30px;
    }

    .omb_login h1.omb_authTitle {
        height: 168px;
    }

    .login-area .login-box,
    .login-area .omb_description {
        width: auto !important;
        margin-left: 10px;
    }
}