.placeholder {
  height: 80px;
}

.placeholder .avatar {
  float: left;
  width: 52px;
  height: 52px;
  background-color: #ccc;
  border-radius: 25%;
  margin: 8px;
  background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);
  background-size: 600px;
  animation: shine-avatar 1.6s infinite linear;
}

.placeholder .line {
  float: left;
  /*width: 140px;*/
  width: 100%;
  height: 16px;
  margin-top: 12px;
  border-radius: 7px;
  background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);
  background-size: 600px;
  animation: shine-lines 1.6s infinite linear;
}

.placeholder .line ~ .line {
  background-color: #ddd;
}

.skeleton .placeholder .line {
  width: 75%;
}

.skeleton .placeholder .avatar + .line {
  margin-top: 11px;
  width: 50%;
}

.preloader-cards {
  column-count: 3;
}

@keyframes shine-lines {
  0% {
    background-position: -100px;
  }
  40%, 100% {
    background-position: 300px;
  }
}
@keyframes shine-avatar {
  0% {
    background-position: -32px;
  }
  40%, 100% {
    background-position: 208px;
  }
}