.media-body .fa-external-link,
.media-body .fa-folder-open-o,
.media-body .fa-file-text-o,
.media-body .fa-file-o {
    padding-right: 5px;
}

.panel_toolbox {
    min-width: 0;
    margin-top: 10px;
}

.profile_info {
    float: none;
    width: 100%;
    padding: 25px 10px;
}

p.excerpt span {
    color: #23527c;
}

#squareSpaceModal.modal {
    display: block;
}

#squareSpaceModal .modal-header {
    padding-bottom: 5px;
}

#squareSpaceModal .modal-footer {
    padding: 0;
}
    
#squareSpaceModal .modal-footer .btn-group button {
    height: 40px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;
    border-right: 1px solid #ddd;
}
    
#squareSpaceModal .modal-footer .btn-group:last-child > button {
    border-right: 0;
}

#squareSpaceModal .alert {
    padding: 0;
    margin: 0 0 20px;
}

#squareSpaceModal .radio-child {
    padding-left: 20px;
}

#squareSpaceModal .radio-btn {
    margin-top: 2px;
}