html, body { height: 100%; }
body {
	background: #edf1f5 url('../../images/default/bgGeral.png') fixed no-repeat top right;
	background-size: 100%;
}
a:hover {
	color: #ffb042;
}
.p1 {
	padding: 0 20px !important;
}
.pm0 {
	padding: 0 !important;
	margin: 0 !important;
}
.pm1 {
	padding: 0 10px !important;
	margin: 0 0 0 0px !important;
}
.pl1 {
	padding-left: 10px;
}
.m1 {
	margin: 0 !important;
}
.box1 {
	background: #fff;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
}
.box2 {
	background: #fff;
	padding: 20px;
	margin-bottom: 20px;
	position: relative;
	min-height: 150px;
}
.box3 {
	background: #fff;
	padding: 20px;
	margin-bottom: 20px;
	position: relative;
	min-height: 280px;
}
.box4 {
	background: #fff;
	padding: 20px;
	margin-bottom: 20px;
	position: relative;
	min-height: 200px;
}
.box5 {
	background: #fff;
	padding: 20px 20px 60px 20px;
	margin-bottom: 20px;
	position: relative;
	border-radius: 5px;
}
.box2rss {
    height: 110px;
    overflow-y: auto;
}
.box2P {
    height: 70px;
    overflow-y: auto;
}
.box3P {
    height: 155px;
    overflow-y: auto;
}
.box4P {
    height: 125px;
    overflow-y: auto;
}
.color2 {
	background: #ddd;
	color: #337ab7;
}
.boxAutor {
	line-height: 16px;
	font-size: 12px;
	margin-top: 10px;
}

/* BUTTONS */
.btn1:hover {
	color: #ccc;
}
.btnDefault {
    color: #212529;
    background: #f8f9fa;
}
.btnSuccess {
	background: #43a047;
}
.btnPrimary {
	background: #337ab7;
}
.btnDanger {
	background: #b71c1c;
}
.btnWarning {
	background: #b5a921;
}
.btnRegistre {
	color: #337ab7;
	border: 2px #337ab7 solid;
	background: #fff;
}
/*.btnOperator:focus {
    background: #039be5 !important;
    color: #fff;
}*/
.btnDefault:hover {
    background: #e2e6ea;
    /*color: #fff;*/
}
.btnSuccess:hover {
	background: #55bf59;
	color: #fff;
}
.btnPrimary:hover {
	background: #286090;
	color: #fff;
}
.btnDanger:hover {
	background: #e62a30;
	color: #fff;
}
.btnWarning:hover {
	background: #e0cf04;
	color: #fff;
}
.btnRegistre:hover {
	background: #337ab7;
	color: #fff;
}
.btnFacebook {
	background-color: #4e69a2;
	margin-bottom: 2px;
}
.btnGoogle {
	background-color: #c94428;
	margin-bottom: 2px;
}
.btnFacebook:hover {
	background-color: #3b5998;
	color: #fff;
}
.btnGoogle:hover {
	background-color: #c32f10;
	color: #fff;
}
.dropdown-content {
	min-width: 250px !important;
}
.btn100 {
	width: 100%;
}
.btn1 {
	padding:5px 10px;
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	border: none;
	border-radius: 2px;
}
.btn1 i {
	font-size: 16px;
	margin: 0px;
}
.btn2 {
	padding:0px 5px;
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	border: none;
	border-radius: 2px;
}
.btn3 {
	padding: 3px 5px;
	text-decoration: none;
	margin-right: 2px;
	color: #fff;
	font-size: 12px;
	cursor: pointer;
	border: none;
	border-radius: 2px;
}

/* MENU */
#wrap {
	margin-left: 300px;
	color: #5a78a2;
	padding: 20px;
}
#header {
	margin-left: 300px;
	background: #5a78a2;
	color: #fff;
	padding: 20px;
	position: sticky;
	top: 0;
	z-index: 10;
}
#aside {
	width: 300px;
	height: 100%;
	position: fixed;
	left: 0;
	background: #fff;
	color: #5a78a2;
	padding: 20px;
	transition: width .5s ease;
}
#nav {
	background: none !important;
	box-shadow: none !important;
	line-height: 50px;
}
#nav ul li {
	width: 100%;
	height: 50px !important;
}
#nav ul li a {
	border-bottom: 1px solid #eee;
	color: #333;
	padding: 0px 0px 0px 15px !important;
	display: block;
	height: auto !important;
	margin: 0px !important;
}
#nav ul li a:hover {
	color: #5a78a2;
}
#nav ul li a i {
	font-size: 20px;
	line-height: 50px;
	transition: margin 0.5s ease;
}
#nav ul li a:hover i {
	font-size: 20px;
	margin-left: 10px;
}
.customize {
	color: #fff;
	padding: 10px 10px;
	border: 1px;
	transition: background .5s ease;
	font-size: 14px;
}
.customize:hover {
	background: #7c9dcc;
	color: #ddd;
	border-radius: 5px;
}
.customize i {
	line-height: 10px;
	vertical-align: middle;
}
#menuMobile {
	display: none;
}
.btn2Botoes {
	position: absolute;
	bottom: 15px;
	border-top: 1px solid #ddd;
	width: 90%;
	padding-top: 10px;
}

/* LOGIN */
.bodyLogin {
	background: url('../../images/default/bgLogin.jpg') fixed center;
	background-size: cover;
}
#login {
	width: 450px;
	max-width: 450px;
	padding: 32px;
	margin: 50px auto 0 auto;
	background: #fff;
	text-align: center;
	position: relative;
	box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
}
.loginOu {
	position: relative;
    margin-bottom: 22px;
}
.loginOu::before {
	content: "";
	width: 30px;
	position: absolute;
	right: 130%;
	top: 10px;
	border-top: 1px solid rgba(0,0,0,.12);
}
.loginOu::after {
	content: "";
	width: 30px;
	position: absolute;
	left: 130%;
	top: 10px;
	border-top: 1px solid rgba(0,0,0,.12);
}
#lang {
	position: absolute;
	top: 5px;
	text-align: center;
	left: 50%;
	transform: translateX(-50%);
}
#lang a {
	padding: 0 5px;
	background: #fefefe;
}
.showMenor1200 {
	display: none;
}
.tituloDropdown {
	margin-top: 20px;
	font-size: 18px;
}
.btn-send {
	margin-bottom: 22px;
}
.btn-login {
	margin-bottom: 22px;
}
.separator {
	margin-bottom: 22px;
}
img.responsive-img {
	margin-bottom: 6px;
}
span.error-text {
	margin: 0 !important;
	width: 100% !important;
	text-align: center;
}
.card-panel.success-text {
	margin-top: 2em;
	text-align: center;
}
#recover {
	padding: 32px;
	margin: 50px auto 0 auto;
	background: #fff; 
	position: relative;
	box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
}
#logoRecover {
	text-align: left;
}
#logoRecoverBireme {
	text-align: right;
	margin-top: 40px;
}
#logoRecoverBireme img {
	max-height: 80px;
}
.listDefault:not(.browser-default) {
	padding-left: 20px;
}
.listDefault:not(.browser-default) > li {
	list-style-type: square !important;
}
a.portal,
a.search {
	cursor: pointer;
}
.input-field div.error {
    font-size: 0.8rem;
    color: #FF0000;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}
.checkbox-field div.error {
    font-size: 0.8rem;
    color: #FF0000;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    padding-left: 35px;
}
.form-group .input-field {
    min-height: 72px;
}
.recaptcha {
    margin-top: 2em;
}
.addthis_toolbox.addthis_60x60_style {
    margin-top: 2em;
}
.addthis_toolbox.addthis_60x60_style span {
    width: 52px !important;
    height: 52px !important;
    border-radius: 10px;
    text-align: center;
}
.addthis_toolbox.addthis_60x60_style span svg {
    width: 40px !important;
    height: 100% !important;
}
span.show-all {
    color: #000fff;
}
span.short-query {
    display: none;
}
.no-url,
.no-url:hover {
    color: #5a78a2;
    cursor: text;
}
.public_search_bar {
    display: none;
}
body.public-col section {
    height: 100%;
}
body.public-col section {
    display: flex;
    flex-direction: column;
}
body.public-col #recover {
    margin-bottom: 50px;
}
body.public-col footer {
    margin-top: auto !important;
}


/* SHARE ICONS */
.facebookIcon {
    color: #3a589b;
}
.twitterIcon {
    color: #598dca;
}
.linkedinIcon {
    color: #007ab9;
}
.emailIcon {
    color: #fbb040;
}
.whatsappkIcon {
    color: #57bb63;
}
.iconShare {
    transition: margin 0.1s ease;
    margin-top: 10px;
    width: 60px !important;
}
.iconShare:hover {
    margin-top: 0px;
}

/* FORM */
.inputHeader {
    background: #fff !important;
    color: #123 !important;
    border: 0 !important;
    border-radius: 5px !important;
}
#btSearch {
    margin-top: -45px !important;
    height: 3rem;
    border-radius: 5px;
    margin-left: 20px;
}
#btSearchModal {
    height: 3rem;
    border-radius: 5px;
    margin-left: 20px;
}
#footer {
    border-top: 2px solid #ddd;
    background: #fff;
    padding: 20px;
    margin-top: 20px;
}
#footer img {
    max-width: 700px;
}
.event {
    margin-bottom: 10px;
    border-bottom: 1px dotted #999;
    padding-bottom: 10px;
}
.event:last-child {
    border-bottom: none;
}
.eventDate {
    float: left;
    width: 60px;
    padding: 10px;
    background: #5a78a2;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    margin-right: 20px;
}
.eventMes {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.eventDia {
    line-height: 30px;
    font-size: 30px;
    margin: 0;
    padding: 0;
}
.event:hover .eventDate {
    background: #ffb042;
}
.eventText {
    display: table;
}
#combine-more {
    display: none;
    background: #eee;
    padding: 0 20px;
}
#combine-header {
    position: sticky;
    top: 0;
    padding: 12px 0 !important;
    background: #ddd;
    z-index: 10;
}
.slider .slides li .caption {
    top: 0px;
}
#btnClose {
    cursor: pointer;
}
#btnClose i {
    transition: transform.5s ease;
}
#btnClose:hover {
    color: #fff;
}
.btnClose2 {
    transform: rotate(-180deg);
}
.linkBreak {
    word-break: break-all;
}
.lista1 li {
    margin-bottom: 10px;
    border-bottom: 1px dotted #999;
    padding-bottom: 10px;
}
.lista1 li:last-child {
    margin-bottom: 10px;
    border-bottom: none
}
#modal .btn-flat:focus,
#modal .btn-flat:hover {
    background-color: rgba(0,0,0,0.1);
    box-shadow: none;
    color: #343434;
}

/* DATEPICKER */
.datepicker-date-display {
    background-color: #5a78a2;
}

/* DARK COLOR */
.bgColor1 {
    background-color: #ddd;
}
.bgColor1 #header {
    background: #333;
}
.bgColor1 #aside {
    background: black;
    color: #fff;
}
.bgColor1 #nav li a {
    color: #fff;
}
.bgColor1 #nav li a:hover {
    color: #ddd;
}
.bgColor1 #menuMobile i {
    color: #fff !important;
}

/* GREEN COLOR */
.bgColor2 {
    background-color: #8bffca;
}
.bgColor2 #header {
    background: #02c36b;
}
.bgColor2 #aside {
    background: #00a65a;
    color: #fff;
}
.bgColor2 #nav li a {
    color: #fff;
}
.bgColor2 #nav li a:hover {
    color: #ddd;
}
.bgColor2 #menuMobile i {
    color: #fff !important;
}

/**************************************
************* BREAKPOINTS *************
**************************************/

/********** > 1600px **********/

@media (min-width: 1600px) {
    .box3 {
        min-height: 230px;
    }
}

/********** < 1336px **********/

@media (max-width: 1336px) {
    .card-title {
        font-size: 18px !important;
    }
    .box3 {
        min-height: 320px;
    }
}

/********** < 1200px **********/

@media (max-width: 1200px) {
    .card-title {
        font-size: 18px !important;
    }
    #flag,
    #usuario {
        display: none;
    }
    #btSearch {
        margin-top: 0 !important;
    }
    .box3 {
        min-height: 240px;
    }
    .showMenor1200 {
        display: block;
    }
    .colAction {
        min-width: 125px
    }
    .bannerHomeInt {
        padding: 0 20px;
    }
}

/********** < 1024px **********/

@media (max-width: 1024px) {
    #wrap {
        margin-left: 240px;
    }
    #header {
        margin-left: 240px;
    }
    #aside {
        width: 240px;
    }
}

/********** < 992px **********/

@media (max-width: 991px) {
    #wrap {
        margin-left: 100px;
    }
    #header {
        margin-left: 100px;
    }
    #aside {
        width: 100px;
        z-index: 9999;
    }
    #aside:hover {
        width: 300px;
    }
    #aside:hover .navtitulo {
        display: block;
    }
    .navtitulo {
        display: none;
    }
    .box2,
    .box3,
    .box4 {
        min-height: auto;
    }
    .box2rss,
    .box2P,
    .box3P,
    .box4P {
        height: auto;
        overflow-y: hidden;
    }
    .btn2Botoes {
        position: static;
        margin-top: 10px;
    }
    #logoRecoverBireme,
    #logoRecover {
        text-align: center;
    }
}

/********** < 768px **********/

@media (max-width: 768px) {
    .bodyLogin {
        background: #fff;
    }
    #login {
        width: 100%;
        max-width: 100%;
        box-shadow: none;
        margin: auto;
    }
    #wrap {
        margin-left: 0px;
    }
    #header {
        margin-left: 0px;
    }
    #aside,
    #aside:hover {
        width: 100%;
        height: 100%;
        position: static;
    }
    #brand {
        text-align: center;
    }
    #nav {
        display: none;
    }
    #menuMobile {
        display: inline-block;
        float: left;
        color: #fff;
    }
    #menuMobile i {
        font-size: 40px;
        color: #123;
    }
    .colAction {
        min-width: 140px;
    }
    .box5 {
        padding: 20px;
    }
    #footer img {
        max-width: 100%;
    }
}

/********** < 600px **********/

@media (max-width: 600px) {
    .box1 {
        min-height: auto;
    }
    .btn2Botoes {
        position: static;
        margin-top: 10px;
    }
    .btn90 {
        width: 100%;
    }
    #btSearchModal {
        margin: 0;
    }
    #btSearch {
        margin: 0;
    }
    .colAction {
        min-width: 50px;
        max-width: 50px;
    }
    .colAction .btn1 {
        border-radius: 0;
    }
    #boxBtSearch {
        padding-left: 0px;
    }
    .pm1 {
        padding: 0 5% !important;
        width: 85% !important;
    }
    .dropdown-content {
        min-width: 220px !important;
    }
    .dropdown-trigger {
        float: right;
    }
}